.index {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid black;
  font-family: 'roboto', sans-serif;
  line-height: 1.5;
}

.index-container {
  max-width: 1246px;
  padding: 0px 60px 60px;
}

.index-category:hover {
  cursor: pointer;
  color: black;
}

.index-category:focus {
  outline: 0;
  color: black;
  border-bottom: 1px solid black;
  border-radius: 0;
}

.index-nav {
  display: flex;
  margin-bottom: 60px;
  height: 30px;
  border-bottom: 1px solid #DCDEDD;
  color: #9B9E9E;
  font-weight: 300;
}

.index-footer {
  height: 800px;
}

.featured-project-img {
  width: 100%;
  position: relative;
}


.index-category {
  margin-right: 24px;
  border: none;
  font: inherit;
  color: inherit;
  position: relative;
  top: 1px;
  padding-bottom: 6px;
  border-radius: 0;
  border-bottom: 1px solid #DCDEDD;
}

.projects-display {
  display: flex;

}

.featured-project {
  padding-right: 12px;
}

.project-sub-cats {
  padding-left: 12px;
}

.project-container {
  position: relative;
  overflow: hidden;
}

.project-name {
  padding: 18px;
  position: absolute;
  bottom: 0;

}

.project-name div {
  background-color: white;
}
