.complete-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f0f0f0;
  border-bottom: solid 1.5px #9B9E9E;
  font-family: 'roboto', sans-serif;
  min-height: 800px;
}

.all-forms {
  width: 520px;
  // height: 700px;
  border: 1px solid black;
  margin: 60px;
  background-color: white;
}

.forms-nav {
  display: flex;
  height: 60px;
  border-bottom: 1px solid black;
}

// .form-button p {
//   color: #3D3D66;
// }

// .form-button p:hover {
//   cursor: pointer;
//   color: #2752ff;
// }

.form-button span {
  font-size: 10px;
  color: #9B9E9E;
  height: 10px;
}

.form-button i {
  margin-right: 8px;
  color: #cecbc7;
}

.inactive i {
  margin-right: 8px;
  color: #cecbc7;
}


.form-button {

  padding: 20px;
  background-color: white;
  border-color: #dad7d4;
  border-top: none;
  border-bottom: none;
  font-size: 14px;
  line-height: 20px;
  border-radius: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.form-submit {
  flex-direction: column;
  padding: 11px;
  width: 100%;
}

.form-submit p {
  padding-top: 1px;
  height: 19px;
}

.intro h2 {
  margin-bottom: 6px;
  font-weight: normal;
}

.intro p {
  font-size: 15px;
}
.intro {
  text-align: center;
  line-height: 30px;
  margin: 20px;
}

.basics-form {
  // background-color: #F8F9FD;
  border-radius: 6px;
  display: flex;
  line-height: 30px;
  margin: 0px 0px 18px 0px;
  padding: 4px;
}

.basics-form label {
  font-size: 13px;
  line-height: 18px;
  // font-weight: 700;
  padding: 10px 5px 10px 10px;
  color: #353535;
  min-width: 130px;
}

.basic-form {
  padding: 0px 8px 10px;
}

.form-button:focus {
  outline: 0;
  color: #2752ff;
  background-color: rgba(240,240,240,0.6);
}




.form-button:active {
  border-left: 1px solid #dad7d4;
}

.form-button:hover {
  cursor: pointer;
  color: #2752ff;
}
.inactive:hover {
  cursor:inherit;
  color: black;
}

.inactive {
  padding: 20px;
  background-color: white;
  border-color: #dad7d4;
  border-top: none;
  border-bottom: none;
  font-size: 14px;
  line-height: 20px;
  border-radius: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
}


.inactive:focus {
  outline: 0;
  color:black;
  background-color: white;
}

.all-forms label:focus {
  outline: 0;
}

.form-wrapper {
  width: 100%;
  line-height: 18px;
  padding: 8px;
}


.form-wrapper input, .basics-category {
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid #dad7d4;
  border-radius: 4px;
  padding: 10px;
  line-height: 18px;
  width: 100%;
  transition: all 0.3s;
}

.form-wrapper input:focus, .basics-category:focus {
  outline: 0;
  border-color: #2752ff;
}

.form-wrapper p {
  line-height: 16px;
  font-size: 12px;
  margin-bottom: 10px;
}

.form-wrapper textarea {
  height: 300px;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
    line-height: 18px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #dad7d4;
    font-size: 14px;
    resize: none;
}

.form-wrapper textarea:focus {
  outline: none;

}
.basics-category {
  height: 40px;
  background-color: white;
}

.next {
  font-weight: 700;
  justify-content: center;
  border: none;
  width: 100%;
  font-size: 15px;
  transition: all 0.25s;
}

.next:hover {

  transform: translateY(-1px);
}
